<template>
    <div>
        <NavHome :color="color"/>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="images/silpanchaso.png" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0"></h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0"></p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <center><h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Nuestros platillos</h2></center>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center" >
                    <!-- Portfolio Item 1
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img :src="post.photo" width="100%" height="300px"/>
                        </div>
                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label" :to="{ name: 'dashboard.detailpost', params: { slug: post.path }}">{{post.title}}</h2>
                    </div>-->
                     <!-- motras-->
                    <div class="col-md-6 col-lg-4 mb-5" v-for="(post,index) in getposts.data" :key="index">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img :src="post.photo" width="100%" height="300px"/>
                        </div>
                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label" >{{post.title}}</h2>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div> 
        <!-- Portfolio Modal 1-->
        <!-- Portfolio Modal 2 Hacer click para mostrar-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-4" v-for="(post,index) in getposts.data" :key="index">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModal2Label">{{post.title}}</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img :src="post.photo" width="100%" height="300px"/>
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-5">{{post.body.substr(0,200)}}</p>
                                    <h5>Por {{post.precio}} Bs</h5> <br/>
                                    <button class="btn btn-primary" data-dismiss="modal">
                                        <i class="fas fa-times fa-fw"></i>
                                        cerrar Ventana
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Para promociones-->
        <!--<section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <center> <h2 class="page-section-heading text-center text-uppercase text-white">Promociones</h2></center>-->
                <!-- Icon Divider-->
                <!--<div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Espera nuestras proximas promociones </p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Espera nuestras proximas promociones</p></div>
                </div>
            </div>
        </section>-->
        <!-- Footer-->
        <footer class="footer text-center" id="contact">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Ubicacion</h4>
                        <p class="lead mb-0">
                            Federico Nicolas Bustillos 212
                            <br />
                            
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Redes Sociales</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/Mr-Silpanchaso-106193597872908"><i class="fab fa-fw fa-facebook-f"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Whatsapp</h4>
                        <p class="lead mb-0">
                            Reservas
                            <a href="https://api.whatsapp.com/send?phone=59177477667&fbclid=IwAR2Os0hiFjyqCR3VIsNoSt9PH3KYfu9AAY-mb95MEdORcqD1Atbjvd6K2cs">77477667</a>
                            .
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import NavHome from '../components/NavHome' 
export default {
    name:'Home',
    data(){
        return{
            color:'orange'
        }
    },
    components:{NavHome},
    computed:{
        ...mapGetters({
            getposts:'post/get_publicaciones'
            //getdetailpost
        })
    },
    methods:{
        ...mapActions({
            get_publicaciones:'post/get_todas_publicaciones',
            //detailpost
        }),
        //click
    },
    created(){
        this.get_publicaciones()
    },
}
</script>