<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <button type="submit">Iniciar Session</button>
    </form>
</template>-->

<template>
	<div>
		<NavHome :color="color"/>
		<form action="#" @submit.prevent = "submit">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active"> Ingresar </h2>

                <!-- Icon -->
                <div class="fadeIn first">
                <img src="https://scontent.flpb1-1.fna.fbcdn.net/v/t1.0-9/118765789_115627443596190_6376246883973484480_n.jpg?_nc_cat=102&ccb=3&_nc_sid=09cbfe&_nc_ohc=LelVr36IiTQAX_Sxv_A&_nc_ht=scontent.flpb1-1.fna&oh=632bf9c999550fe5e3f2d92a71ab9e04&oe=604E5A7E" id="icon" alt="User Icon" />
                </div>
                <!--<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">-->
                <input type="email" name="email" id="email" v-model="form.email" placeholder="Usuario" autocomplete="off"> 
                <input type="password" name="password" id="password" v-model="form.password" placeholder="Contraseña"> 
                <input type="submit" name="" value="Iniciar Secion">
            </div>
        </div>
     </form>
	</div>
</template>


<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
    name:'SignIn',
	components:{NavHome},
    data(){
        return {
            form:{
                email:'',
                password:''
            },
            color:'DarkOrange'
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
            console.log('ENVIANDO FORMULARIO')
            console.log(this.form)
            await this.signIn(this.form)
            this.$router.replace({name:'dashboard.post'})
        }
    }
}
</script>