<template>
<div>
    <NavHome :color="color"/>
    <form action="#" @submit.prevent = "submit">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="active">Registrate </h2>

                <!-- Icon -->
                <div class="fadeIn first">
                <img src="https://scontent.flpb1-1.fna.fbcdn.net/v/t1.0-9/118765789_115627443596190_6376246883973484480_n.jpg?_nc_cat=102&ccb=3&_nc_sid=09cbfe&_nc_ohc=LelVr36IiTQAX_Sxv_A&_nc_ht=scontent.flpb1-1.fna&oh=632bf9c999550fe5e3f2d92a71ab9e04&oe=604E5A7E" id="icon" alt="User Icon" />
                </div>

                <!--<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">-->
                    <input type="text" name="name" id="name" v-model="form.name" placeholder="Nombre" autocomplete="off"> 
					<input type="email" name="email" id="email" v-model="form.email" placeholder="Correo Electronico" autocomplete="off"> 
					<input type="password" name="password" id="password" v-model="form.password" placeholder="Contraseña" autocomplete="off"> 
					<input type="password" name="password_confirmation" id="password_confirmation" v-model="form.password_confirmation" placeholder="Confirmar Contraseña" autocomplete="off"> 
					<input type="submit" name="" value="Registrarse">
            </div>
        </div>
    </form>
</div>
</template>

<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
    name:'SignUp',
    components:{NavHome},
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            },
            color:'DarkOrange'
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>