<template >
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" v-bind:style="{ 'background-color':color }">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="/images/navbar-logo.svg" alt="" /></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ml-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto" v-if="!authenticated">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Platillos</a></li>
                        <!--<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Promociones</a></li>-->
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a></li>
                        <li class="nav-item">
                            <div ><router-link to="/signin" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Inicio de Sesion</router-link></div>
                        </li>
                        <li class="nav-item">
                            <div><router-link to="/signup" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-triggerr">Registrate</router-link></div>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-uppercase ml-auto" v-else>
                        <li class="nav-item">
                            <div><router-link to="/" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-triggerr">Principal</router-link></div>
                        </li>
                        <li class="nav-item">
                            <router-link to="/profile" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"><b>{{user.name}}</b> | </router-link>
                        </li>
                        <li class="nav-item" >
                            <a href="#" @click.prevent="logout" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Cerrar Session</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</template>
<script>
 import {mapGetters ,mapActions} from 'vuex'
export default {
    name:'NavHome',
    props:["color"],
        computed:{
            ...mapGetters({
                authenticated:'auth/authenticated',
                user:'auth/user',
            })
        },
        methods:{
            ...mapActions({
                signOut:'auth/signOut',
            }),
            async logout(){
                await this.signOut()
                this.$router.replace({name:'home'})
            }
        },
}
</script>